.1_94 { 
	overflow:hidden;
}.e1_94 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e18_59 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:212px;
	top:724px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_60 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:212px;
	top:644px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_61 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:212px;
	top:564px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_62 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:212px;
	top:484px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_63 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:212px;
	top:404px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_81 { 
	width:57px;
	height:57px;
	position:absolute;
	left:260px;
	top:151px;
}.ei18_81_12_73 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:57px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_81_12_86 { 
	width:31px;
	height:31px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/user__1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_75 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:79px;
	height:28px;
	position:absolute;
	left:213px;
	top:452px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e18_74 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:79px;
	height:28px;
	position:absolute;
	left:213px;
	top:372px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e18_84 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:150px;
	height:25px;
	position:absolute;
	left:213px;
	top:212px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e18_86 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:138px;
	height:25px;
	position:absolute;
	left:212px;
	top:270px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e18_85 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:80px;
	height:25px;
	position:absolute;
	left:213px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e18_78 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:79px;
	height:28px;
	position:absolute;
	left:213px;
	top:692px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e18_77 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:102px;
	height:28px;
	position:absolute;
	left:213px;
	top:532px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e18_76 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:79px;
	height:28px;
	position:absolute;
	left:213px;
	top:612px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e18_87 { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:25px;
	position:absolute;
	left:244px;
	top:411px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e18_88 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:25px;
	position:absolute;
	left:252px;
	top:491px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e42_56 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:25px;
	position:absolute;
	left:245px;
	top:571px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e42_57 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:25px;
	position:absolute;
	left:251px;
	top:731px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e54_86 { 
	width:100px;
	height:72px;
	position:absolute;
	left:32px;
	top:612px;
}.e18_64 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:32px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_79 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:74px;
	height:28px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e42_59 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:25px;
	position:absolute;
	left:27px;
	top:39px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e54_85 { 
	width:100px;
	height:72px;
	position:absolute;
	left:32px;
	top:692px;
}.e18_65 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:32px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e18_80 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:74px;
	height:28px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e42_60 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:25px;
	position:absolute;
	left:39px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e42_58 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:25px;
	position:absolute;
	left:251px;
	top:651px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e18_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:149px;
	height:415px;
	position:absolute;
	left:26px;
	top:151px;
}.18_89 { 
	border:1px solid rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
}.e57_98 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:71px;
	height:68px;
	position:absolute;
	left:152px;
	top:68px;
}.e57_99 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:71px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e57_100 { 
	width:49px;
	height:48px;
	position:absolute;
	left:14px;
	top:5px;
}.e57_101 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e57_102 { 
	width:26.625px;
	height:25.5px;
	position:absolute;
	left:11.1875px;
	top:84px;
}