.18_53 { 
	overflow:hidden;
}.e18_53 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e44_113 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:602px;
}.e42_55 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e42_61 { 
	color:rgba(255, 255, 255, 1);
	width:180px;
	height:25px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_112 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:474px;
}.e42_54 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e42_62 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:25px;
	position:absolute;
	left:17px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_111 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:346px;
}.e42_53 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e42_63 { 
	color:rgba(255, 255, 255, 1);
	width:211px;
	height:25px;
	position:absolute;
	left:5px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_110 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:218px;
}.e42_52 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e42_64 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:25px;
	position:absolute;
	left:11px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e57_123 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:71px;
	height:68px;
	position:absolute;
	left:152px;
	top:62px;
}.e57_124 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:71px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e57_125 { 
	width:49px;
	height:48px;
	position:absolute;
	left:14px;
	top:5px;
}.e57_126 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e57_127 { 
	width:26.625px;
	height:25.5px;
	position:absolute;
	left:11.1875px;
	top:84px;
}