.9_56 { 
	overflow:hidden;
}.e9_56 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e9_112 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:497px;
}.ei9_112_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_112_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_113 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:433px;
}.ei9_113_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_113_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_133 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:561px;
}.ei9_133_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_133_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_136 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:625px;
}.ei9_136_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_136_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_114 { 
	width:220px;
	height:65px;
	position:absolute;
	left:76px;
	top:681px;
}.ei9_114_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_114_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:27px;
	position:absolute;
	left:17.875px;
	top:16.25px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e9_115 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:240px;
}.ei9_115_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_115_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_116 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:304px;
}.ei9_116_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_116_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_117 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:368px;
}.ei9_117_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_117_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_118 { 
	width:220px;
	height:40px;
	position:absolute;
	left:76px;
	top:176px;
}.ei9_118_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_118_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e57_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:71px;
	height:68px;
	position:absolute;
	left:152px;
	top:62px;
}.e57_109 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:71px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e57_110 { 
	width:49px;
	height:48px;
	position:absolute;
	left:14px;
	top:5px;
}.e57_111 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e57_112 { 
	width:26.625px;
	height:25.5px;
	position:absolute;
	left:11.1875px;
	top:84px;
}