.9_21 { 
	overflow:hidden;
}.e9_21 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e9_24 { 
	width:160px;
	height:40px;
	position:absolute;
	left:108px;
	top:609px;
}.ei9_24_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:160px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_24_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:13px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_36 { 
	width:160px;
	height:40px;
	position:absolute;
	left:108px;
	top:537px;
}.ei9_36_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:160px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_36_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:20px;
	position:absolute;
	left:13px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_25 { 
	color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:125px;
	height:39px;
	position:absolute;
	left:124px;
	top:458px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e9_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:150px;
	height:150px;
	position:absolute;
	left:112px;
	top:91px;
}.e9_30 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e9_31 { 
	width:56.25px;
	height:56.25px;
	position:absolute;
	left:49.21875px;
	top:46.875px;
}.e9_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:87px;
	position:absolute;
	left:-19.21875px;
	top:-15.875px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e9_33 { 
	color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:260px;
	height:63px;
	position:absolute;
	left:59px;
	top:256px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:57.39999771118164px;
	letter-spacing:0;
}