.avaliarpersonal
{
position:absolute;
background-color:#fafafa;
height:812px;
width:375px;
border-radius:8px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.davidcosta
{
background-color:#ffffff;
height:23px;
width:132px;
align-self:flex-start;
left:196px;
top:59px;
position:absolute;
padding:0px;
}
.davidcosta2
{
color:#3d608a;
text-align:left;
vertical-align:text-top;
font-size:20.552846908569336px;
font-family:Inter;
line-height:auto;
width:132px;
}
.fotoperfilmedico
{
height:144px;
width:158px;
align-self:flex-start;
left:30px;
top:59px;
position:absolute;
padding:0px;
}
.personal1
{
height:144px;
width:158px;
}
.anos
{
color:#5e5757;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:Inter;
align-self:flex-start;
left:30px;
top:227px;
position:absolute;
line-height:auto;
width:132px;
}
.-4499898-1514
{
color:#5e5757;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:Inter;
align-self:flex-start;
left:30px;
top:245px;
position:absolute;
line-height:auto;
width:149px;
}
.davidcosta@gmail.com
{
color:#5e5757;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:Inter;
align-self:flex-start;
left:30px;
top:263px;
position:absolute;
line-height:auto;
width:234px;
}
.localização:maringá-pr-brasil
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
align-self:flex-start;
left:29px;
top:369px;
position:absolute;
line-height:auto;
width:312px;
}
.formação:superior-uem-prmestrado-uem-prdoutorado-uem-pr
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
align-self:flex-start;
left:29px;
top:432px;
position:absolute;
line-height:auto;
width:312px;
}
.linkprochat
{
background-color:#ffffff;
height:35px;
width:120px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
align-self:flex-start;
left:29px;
top:310px;
position:absolute;
padding:0px;
}
.rectangle39
{
background-color:#3d608a;
height:35px;
width:120px;
border-radius:4px;
}
.conversar
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:8px;
top:6px;
width:105px;
height:23px;
position:absolute;
line-height:auto;
}
.linkpraagenda
{
background-color:#ffffff;
height:35px;
width:120px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
align-self:flex-start;
left:222px;
top:310px;
position:absolute;
padding:0px;
}
.rectangle40
{
background-color:#3d608a;
height:35px;
width:120px;
border-radius:4px;
}
.agenda2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:21px;
top:5px;
width:78px;
height:24px;
position:absolute;
line-height:auto;
}
.avaliar2
{
color:#3d608a;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
align-self:flex-start;
left:121px;
top:616px;
position:absolute;
line-height:auto;
width:130px;
}
.estrelas1
{
height:53.29999923706055px;
width:100px;
left:0px;
top:895px;
position:absolute;
}
.star1
{
background-color:#ffffff;
height:60px;
width:60px;
align-self:flex-start;
left:29px;
top:679px;
position:absolute;
padding:0px;
}
.star12
{
background-color:#ffe81f;
height:60px;
width:60px;
}
.star4
{
background-color:#ffffff;
height:60px;
width:60px;
align-self:flex-start;
left:215px;
top:679px;
position:absolute;
padding:0px;
}
.star42
{
background-color:#ffe81f;
height:60px;
width:60px;
}
.star5
{
background-color:#ffffff;
height:60px;
width:60px;
align-self:flex-start;
left:277px;
top:679px;
position:absolute;
padding:0px;
}
.star52
{
background-color:#ffe81f;
height:60px;
width:60px;
}
.star2
{
background-color:#ffffff;
height:60px;
width:60px;
align-self:flex-start;
left:153px;
top:679px;
position:absolute;
padding:0px;
}
.star22
{
background-color:#ffe81f;
height:60px;
width:60px;
}
.star3
{
background-color:#ffffff;
height:60px;
width:60px;
align-self:flex-start;
left:91px;
top:679px;
position:absolute;
padding:0px;
}
.star32
{
background-color:#ffe81f;
height:60px;
width:60px;
}
