.1_27 { 
	overflow:hidden;
}.e1_27 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e1_47 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:176px;
	height:24px;
	position:absolute;
	left:19px;
	top:521px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_48 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:176px;
	height:64px;
	position:absolute;
	left:19px;
	top:589px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_49 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:176px;
	height:24px;
	position:absolute;
	left:19px;
	top:274px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_50 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:176px;
	height:34px;
	position:absolute;
	left:181px;
	top:138px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_51 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:176px;
	height:24px;
	position:absolute;
	left:19px;
	top:308px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_52 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:100px;
	height:24px;
	position:absolute;
	left:19px;
	top:342px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_53 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:50px;
	height:24px;
	position:absolute;
	left:19px;
	top:240px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_54 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:65px;
	height:24px;
	position:absolute;
	left:19px;
	top:206px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_55 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:30px;
	height:24px;
	position:absolute;
	left:19px;
	top:172px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_56 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:351px;
	top:573px;
}.e1_57 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:176px;
	height:24px;
	position:absolute;
	left:180px;
	top:555px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_58 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:216px;
	top:453px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_59 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:176px;
	height:67px;
	position:absolute;
	left:181px;
	top:376px;
	border-top-left-radius:6.25px;
	border-top-right-radius:6.25px;
	border-bottom-left-radius:6.25px;
	border-bottom-right-radius:6.25px;
}.e1_60 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:351px;
	top:505px;
}.e1_61 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:11px;
	height:8px;
	position:absolute;
	left:351px;
	top:437px;
}.e1_62 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:13px;
	height:8px;
	position:absolute;
	left:13px;
	top:647px;
}.e1_63 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:351px;
	top:471px;
}.e1_64 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:352px;
	top:166px;
}.e1_65 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:190px;
}.e1_66 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:224px;
}.e1_67 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:258px;
}.e1_68 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:292px;
}.e1_69 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:326px;
}.e1_70 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:360px;
}.e1_71 { 
	background-color:rgba(68.9562526345253, 166.62339985370636, 188.06250303983688, 1);
	width:9px;
	height:8px;
	position:absolute;
	left:15px;
	top:539px;
}.e1_72 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:176px;
	height:24px;
	position:absolute;
	left:180px;
	top:487px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_73 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:337px;
	height:30px;
	position:absolute;
	left:19px;
	top:692px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_74 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:47px;
	height:15px;
	position:absolute;
	left:34px;
	top:699px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e12_67 { 
	width:57px;
	height:57px;
	position:absolute;
	left:19px;
	top:55px;
}.e12_66 { 
	border-radius:500px;
	width:57px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.12_66 { 
	border:1px solid rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
}.e1_77 { 
	width:130px;
	height:23px;
	position:absolute;
	left:90px;
	top:72px;
}.e1_78 { 
	color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:130px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20.552846908569336px;
	letter-spacing:0;
}.e1_79 { 
	color:rgba(39.02474194765091, 228.4374949336052, 80.69555550813675, 1);
	width:52px;
	height:16px;
	position:absolute;
	left:107px;
	top:95px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_80 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:15px;
	position:absolute;
	left:26px;
	top:312px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_81 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:15px;
	position:absolute;
	left:188px;
	top:492px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_82 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:28px;
	position:absolute;
	left:189px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_83 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:51px;
	position:absolute;
	left:189px;
	top:379px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_84 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:15px;
	position:absolute;
	left:226px;
	top:457px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_85 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:15px;
	position:absolute;
	left:188px;
	top:559px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_86 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:15px;
	position:absolute;
	left:26px;
	top:279px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_87 { 
	color:rgba(255, 255, 255, 1);
	width:29px;
	height:15px;
	position:absolute;
	left:26px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_88 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:26px;
	top:211px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_89 { 
	color:rgba(255, 255, 255, 1);
	width:19px;
	height:15px;
	position:absolute;
	left:26px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_90 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:15px;
	position:absolute;
	left:26px;
	top:346px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_91 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:15px;
	position:absolute;
	left:26px;
	top:525px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_92 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:49px;
	position:absolute;
	left:26px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_93 { 
	border-radius:500px;
	background-color:rgba(39.02474194765091, 228.4374949336052, 80.69555550813675, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:90px;
	top:97px;
}