.18_57 { 
	overflow:hidden;
}.e18_57 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e57_148 { 
	width:280px;
	height:30px;
	position:absolute;
	left:48px;
	top:178px;
}.e44_123 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e44_124 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:102px;
	height:15px;
	position:absolute;
	left:15px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e57_147 { 
	width:233px;
	height:57px;
	position:absolute;
	left:48px;
	top:256px;
}.e44_129 { 
	width:57px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.ei44_129_12_73 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:57px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.ei44_129_12_86 { 
	width:31px;
	height:31px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/user__1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_134 { 
	color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:168px;
	height:24px;
	position:absolute;
	left:65px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e44_136 { 
	background-color:rgba(138.00000697374344, 60.99999636411667, 60.99999636411667, 1);
	width:125px;
	height:40px;
	position:absolute;
	left:48px;
	top:696px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e44_138 { 
	transform: rotate(90.51590241503065deg);
	background-color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:319.3583984375px;
	top:591.3601684570312px;
}.e44_139 { 
	transform: rotate(-89.918917635732deg);
	background-color:rgba(94.56250101327896, 87.86432683467865, 87.86432683467865, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:56px;
	top:630.9999389648438px;
}.e44_151 { 
	width:125px;
	height:40px;
	position:absolute;
	left:203px;
	top:696px;
}.e44_137 { 
	background-color:rgba(60.99999636411667, 138.00000697374344, 68.69998678565025, 1);
	width:125px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e44_140 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:25px;
	position:absolute;
	left:26px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_141 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:69px;
	top:703px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e57_149 { 
	width:280px;
	height:250px;
	position:absolute;
	left:48px;
	top:329px;
}.e44_135 { 
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:280px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e44_143 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:24px;
	top:36px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_144 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:25px;
	position:absolute;
	left:161px;
	top:36px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_145 { 
	color:rgba(255, 255, 255, 1);
	width:230px;
	height:25px;
	position:absolute;
	left:24px;
	top:87px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_147 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:24px;
	top:138px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_148 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:24px;
	top:189px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_149 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:161px;
	top:138px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e44_150 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:161px;
	top:189px;
	font-family:Inter;
	text-align:left;
	font-size:20.549999237060547px;
	letter-spacing:0;
}.e57_133 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:71px;
	height:68px;
	position:absolute;
	left:152px;
	top:62px;
}.e57_134 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:71px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e57_135 { 
	width:49px;
	height:48px;
	position:absolute;
	left:14px;
	top:5px;
}.e57_136 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e57_137 { 
	width:26.625px;
	height:25.5px;
	position:absolute;
	left:11.1875px;
	top:84px;
}