.9_43 { 
	overflow:hidden;
}.e9_43 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:375px;
	height:812px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
}.e9_44 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:538px;
}.ei9_44_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_44_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_45 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:466px;
}.ei9_45_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_45_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_85 { 
	width:220px;
	height:65px;
	position:absolute;
	left:78px;
	top:682px;
}.ei9_85_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_85_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:27px;
	position:absolute;
	left:17.875px;
	top:16.25px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e9_73 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:250px;
}.ei9_73_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_73_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_76 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:322px;
}.ei9_76_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_76_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_79 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:394px;
}.ei9_79_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_79_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e9_82 { 
	width:220px;
	height:40px;
	position:absolute;
	left:78px;
	top:178px;
}.ei9_82_1_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(61.00000016391277, 96.00000187754631, 138.00000697374344, 1);
	width:220px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2px;
}.ei9_82_1_353 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:20px;
	position:absolute;
	left:17.875px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:16.888887405395508px;
	letter-spacing:0;
}.e57_103 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:71px;
	height:68px;
	position:absolute;
	left:152px;
	top:62px;
}.e57_104 { 
	background-image:linear-gradient(0deg, rgba(61.00520968437195, 96.48031890392303, 138.1250050663948, 1) 0%,rgba(0, 131.62245959043503, 173.18750202655792, 1) 100%) ;
	width:71px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:119.53125px;
	border-top-right-radius:119.53125px;
	border-bottom-left-radius:119.53125px;
	border-bottom-right-radius:119.53125px;
}.e57_105 { 
	width:49px;
	height:48px;
	position:absolute;
	left:14px;
	top:5px;
}.e57_106 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmmi10;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e57_107 { 
	width:26.625px;
	height:25.5px;
	position:absolute;
	left:11.1875px;
	top:84px;
}