.meustreinos
{
position:absolute;
background-color:#fafafa;
height:812px;
width:375px;
border-radius:8px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.cabeçalho
{
align-self:flex-start;
left:48px;
top:200px;
position:absolute;
width:280px;
height:65px;
}
.rectangle84
{
background-color:#ffffff;
height:30px;
width:280px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:20px;
top:235px;
left:48px;
position:absolute;
}
.buscarmeutreino...
{
color:#5e5757;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:61px;
top:242px;
width:116px;
height:15px;
position:absolute;
line-height:auto;
}
.treinossalvos
{
color:#5e5757;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:103px;
top:200px;
width:169px;
height:24px;
position:absolute;
line-height:auto;
}
.treino1
{
align-self:flex-start;
left:33px;
top:321px;
position:absolute;
width:310px;
height:75px;
}
.rectangle88
{
background-color:rgba(61, 96, 138, 0);
height:75px;
width:310px;
border:2px solid #3d608a;
top:321px;
left:33px;
position:absolute;
}
.treinoa:29/10-19:00...
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:48px;
top:345px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
}
.treino3
{
align-self:flex-start;
left:33px;
top:495px;
position:absolute;
width:310px;
height:75px;
}
.rectangle90
{
background-color:rgba(61, 96, 138, 0);
height:75px;
width:310px;
border:2px solid #3d608a;
top:495px;
left:33px;
position:absolute;
}
.treinoc:30/10-19:00...
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:48px;
top:519px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
}
.treino4
{
align-self:flex-start;
left:33px;
top:582px;
position:absolute;
width:310px;
height:75px;
}
.rectangle91
{
background-color:rgba(61, 96, 138, 0);
height:75px;
width:310px;
border:2px solid #3d608a;
top:582px;
left:33px;
position:absolute;
}
.treinod:02/11-19:00...
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:48px;
top:606px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
}
.traino5
{
align-self:flex-start;
left:33px;
top:669px;
position:absolute;
width:310px;
height:75px;
}
.rectangle92
{
background-color:rgba(61, 96, 138, 0);
height:75px;
width:310px;
border:2px solid #3d608a;
top:669px;
left:33px;
position:absolute;
}
.treinoe:03/11-18:00...
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:48px;
top:693px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
}
.treino2
{
align-self:flex-start;
left:33px;
top:408px;
position:absolute;
width:310px;
height:75px;
}
.rectangle89
{
background-color:rgba(61, 96, 138, 0);
height:75px;
width:310px;
border:2px solid #3d608a;
top:408px;
left:33px;
position:absolute;
}
.treinob:30/10-18:00...
{
text-align:left;
vertical-align:text-top;
font-size:20.549999237060547px;
font-family:Inter;
left:48px;
top:432px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
}
.miniicon
{
height:68px;
width:71px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
align-self:flex-start;
left:152px;
top:68px;
position:absolute;
padding:0px;
}
.rectangle5
{
background-color:;
height:68px;
width:71px;
border-radius:119.53125px;
}
.frame1
{
height:48px;
width:49px;
padding:0px;
display:flex;
flex-direction:column;
gap:36px;
left:14px;
top:5px;
position:relative;
}
.pn
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-middle;
font-size:44px;
font-family:jsMath-cmmi10;
line-height:auto;
width:49px;
}
.video
{
background-color:#ffffff;
height:25.5px;
width:26.625px;
padding:0px;
left:11.18px;
top:84px;
position:relative;
}
